@tailwind base;
@tailwind components;
@tailwind utilities;


.full{
  width: 100%;
  height: 100%;
}

.cute{
  cursor: pointer;
  transition: .3s;
}
.cute:hover,.cute:active{
  transform: translateY(-4px);
}

.tooltip:before {
  max-width: 12rem !important;
  overflow: hidden;
}

/* 隐藏滚动条但保留滚动功能 */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* 对于 Chrome、Safari 和 Opera */
}

.no-scrollbar {
  -ms-overflow-style: none;  /* 对于 IE 和 Edge */
  scrollbar-width: none;  /* 对于 Firefox */
}